body {
    max-width: 100vw;
}

* {
    font-size: 16pt;
}

i.material-icons {
    font-size: 3rem;
    vertical-align: middle;
    margin-right: 0.2em;
}

.no-decorations li {
    list-style-type: none;
}

.responsive-table-wrapper {
    overflow-x: auto;
}

table {
    white-space: nowrap;
    width: 100%;
}

header {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    font-size: 52pt;
}

header > h2 {
    font-size: 28pt;
    font-family: "Source Code Pro", monospace;
    color: #8c8c8c;
}

section > h3 {
    padding: 0 0.2em;
    border-bottom: 1px solid #000;
}

footer {
    margin-top: 4em;
    height: 40px;
    font-size: 12pt;
    display: flex;
    justify-content: space-between
}

footer * {
    font-size: 12pt;
}